@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Metal Lord";
    src: local("Metal Lord"),
    url("./fonts/metal lord.ttf") format("truetype");
    font-weight: bold;
}

#customItem {
    font-family: "Metal Mania";
    margin-top: 15px;
}

#burgerTitle {
    font-family: Metal Mania, cursive;
}

h1 {
    font-family: Metal Mania, cursive;
}

#whos-next {
    font-family: "Metal Lord";
}
#playtimes {
    font-family: "Metal Mania";
}
#charten {
    overflow: scroll;
}
